/* 全体 */
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.7;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}

/* ヘッダー */
.title-box {
  padding: 15px;
}

/* 出し引きメニュー */
.menu-box {
  display: inline-block;
}

summary {
  cursor: pointer;
  font-size: 30px;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

/* メニュー中身 */
.menu {
  display: inline-flex;
  gap: 20px;
  margin-left: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.menu a:link,
.menu a:visited {
  color: #333;
}
.menu a:hover {
  opacity: 0.7;
}

/* セクション */
section {
  padding: 20px;
}

/* フッター */
footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
}